*{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}
body{
    background-image: url('Image/snow-winter-trees-winter-landscape-snowy.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: scroll;
}
h1{
    font-size: 4rem;
    margin-top: 4rem;
    align-items: center;
    color:rgb(255, 94, 0);
    text-shadow: 2px 2px 2px orangered;
    
}
.new{
    font-size: 4rem;
    color:rgb(1, 1, 143)
}
.new1{
    font-size: 4rem;
    color:rgb(7, 136, 0)
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 21rem;
}

/* p common class start */
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 3rem;
    text-shadow: 3px 2px rgb(54, 0, 251);
}
span{
   color: rgb(0, 0, 182);
   font-size: 20px;
   font-weight: bold;
   
}
#days{
    color: rgb(255, 11, 11);
    
}
#hours{
    color: rgb(120, 13, 219);
}
#mins{
    color: rgb(0, 70, 0);
}
#second{
    color: rgb(0, 33, 165);
}
button{
    box-shadow: 2px 2px blue;
    height: 30px;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(236, 25, 236),rgb(99, 21, 255)) ;
}
.audio{
    display: flex;
    align-items: center;
    justify-content: center;
}